@import "../font/Stolzl-Regular/styles.css";

body {
    font-family: Stolzl-Regular, sans-serif;

    overflow: hidden;
    overflow-x: hidden;
    overflow-y: visible;
    position: relative;
}

.page-wrap {
    overflow: hidden;
}

a {
    text-decoration: none;
}

header {
    position: relative;
    /*overflow: hidden;*/
}
.header {
    /*margin: 79px 0 294px 127px;*/
    padding: 59px 0 294px 127px;
    padding-left: 6.61vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 190px);
}
.header__inner {
    /*max-width: 1920px;*/
    max-width: 100vw;
    width: 100%;
}
.header-top {
    max-width: 940px;
    width: 100%;
    display: flex;
    align-items: center;
    /*margin-bottom: 175px;*/
    margin-bottom: 10vw;
    z-index: 10;
    position: relative;
}
.header-top__logo {
    /*width: 180px;*/
    width: 9.05vw;
    /*margin-right: 50px;*/
    /*margin-left: 14px;*/
    margin-left: 0.75vw;
    margin-right: 2.7vw;
}
.header-top__logo img{
    width: 100%;
}
.header-top__menu {
    display: flex;
}
.header-top__menu-wrap {
    display: flex;
    align-items: center;
}
.header-top__menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
.header-top__menu-item {
    /*margin: 0 26px;*/
    margin: 0 1.42vw;
}
.header-top__menu-link {
    /*font-size: 25px;*/
    /*font-size: 18px;*/
    font-size: 1.05vw;
    color: black;
    transition: 0.3s;
}
.header-top__menu-link:hover {
    color: #878787;
}
.header-bottom {
    /*max-width: 875px;*/
    /*width: 100%;*/
}
.header-bottom__title {
    /*font-size: 85px;*/
    font-size: 4.45vw;
    color: #1f1c0d;
    margin: 0;
    z-index: 5;
    position: relative;
    font-weight: 600;

    line-height: 1.2;

    display: block;
}
.header-bottom__title span{
    display: block;
}
.header-bottom__desc {
    /*font-size: 25px;*/
    font-size: 1.3vw;
    color: #878787;
    line-height: 1.67;
    /*margin-top: 64px;*/
    margin-top: 3.7vw;
    z-index: 5;
    position: relative;
}
main {

}
.main__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    z-index: 5;
}
.project__wrap {
    /*max-width: 1920px;*/
    max-width: 100vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-top: 235px;*/
    /*margin-top: 12.25vw;*/
    margin-top: 5vw;
}
.project__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project-item {
    /*max-width: 700px;*/
    max-width: 36.45vw;
    width: 100%;
    /*margin: 25px;*/
    margin: 1.3vw;
    transition: 0.3s;
    position: relative;
}


.project-item{
    opacity: 0;
    transform: translateY(-100px);
    transition: 1s;
}

.project-item:nth-child(even){
    transition: 0.5s 0.5s;
    transform: translateY(0);
}

.project-item.project-item--animate{
    opacity: 1;
    transform: translateY(0);
}

.project-item.project-item--animate:nth-child(even){
    transform: translateY(90px);
}

.project-item.project-item--animate:nth-child(1) {
    /*transition-delay: 0.3s;*/
}
.project-item.project-item--animate:nth-child(2) {
    transition-delay: 0.3s;
}
.project-item.project-item--animate:nth-child(3) {
    transition-delay: 0.4s;
}
.project-item.project-item--animate:nth-child(4) {
    transition-delay: 0.6s;
}

.project-item:nth-child(even) {
    /*transform: translateY(-190px);*/
}
.project-top {
    /*padding: 30px 75px 36px 44px;*/
    /*margin-top: 35px;*/
    /*margin-left: 45px;*/
    /*padding: 35px 45px;*/
    padding: 1.82vw 2.34vw;

}
.project-top__title {
    /*font-size: 27px;*/
    font-size: 1.4vw;

    color: white;
}
.project-top__desc {
    /*font-size: 27px;*/
    font-size: 1.4vw;
    color: white;
    position: absolute;
    transform: rotate(90deg);
    right: -43%;
    /*top: 48%;*/
    /*top: 52%;*/
    top: 19.7vw;
    width: 100%;
}
.project-center {
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin: 0 75px;*/
    margin: 0 3.9vw;
}
.project-center__img {
    width: 100%;
}
.project-center img{
    width: 100%;
}
.project-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 0 40px 30px 44px;*/
    /*padding: 30px 40px 30px 44px;*/
    padding: 1.56vw 2.08vw 1.56vw 2.29vw;
}
.project-bottom__arrow {
    display: flex;
    align-items: center;
}
.project-bottom__arrow a{
    display: flex;
    transition: 0.3s;
}
.project-bottom__arrow a:hover svg{
    transform: translateX(40px);
}
.project-bottom__arrow svg{
    fill: white;
    /*width: 40px;*/
    width: 2.08vw;
    transition: 0.3s;
}
.project-bottom__btn {

}
.project-bottom__btn-link {
    /*font-size: 27px;*/
    font-size: 1.4vw;
    color: white;
    transition: 0.3s;
}
.project-bottom__btn-link:hover {
    filter: invert(100%);
}
.project__more {
    /*margin-top: 208px;*/
    margin-top: 10.8vw;
    display: flex;
    justify-content: center;
}
.project__more-btn {

}
.project__more-btn-link {
    /*font-size: 30px;*/
    font-size: 1.56vw;

    color: #7e7e7e;
    position: relative;
    transition: 0.3s;
    line-height: 2;
    display: flex;
}
.project__more-btn-link:hover {
    color: black;
}
.project__more-btn-link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #7e7e7e;
    width: 100%;
    transition: 0.3s;
}
.project__more-btn-link:hover:after {
    background: black;
}
.black-txt .project-top__title,
.black-txt .project-top__desc,
.black-txt .project-bottom__btn-link {
    color: black;
}
.black-txt .project-bottom__arrow svg {
    fill: black;
}
footer {
    position: relative;
    /*overflow: hidden;*/
}
.footer {
    display: flex;
    justify-content: center;
}

.footer__inner {
    /*max-width: 1920px;*/
    max-width: 100vw;
    width: 100%;
    padding: 363px 0 60px 127px;
    padding-left: 6.61vw;

    position: relative;
}
.footer__hand-phone {
    position: absolute;
    /*right: 106px;*/
    right: 5.52vw;
    /*bottom: 100px;*/
    bottom: 5.2vw;
    /*max-width: 650px;*/
    max-width: 33.85vw;
    opacity: 0;
    z-index: 5;
}
.footer__hand-phone.show img{
    width: 100%;
    animation: crescendo 0.5s alternate ease-in;
    animation-fill-mode: forwards;
}
@keyframes crescendo {
    0% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
    }
}
.footer__hand-phone.show {
    animation: fadein 2s;
    animation-fill-mode: forwards;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
.footer-top {
    /*max-width: 675px;*/
    /*width: 100%;*/
}
.footer-top__title {
    /*font-size: 60px;*/
    /*font-size: 55px;*/
    font-size: 2.86vw;
    color: #1f1c0d;
    position: relative;
    z-index: 5;
    position: relative;
    display: inline-flex;
    font-weight: 600;
}
.footer-top__title:after {
    content: '';
    display: flex;
    background:url("../img/Hand.png") center center no-repeat;
    position: absolute;
    /*right: -110px;*/
    right: -5.729vw;
    /*top: -28px;*/
    top: -1.45vw;
    /*width: 100px;*/
    width: 5.2vw;
    /*height: 100px;*/
    height: 5.2vw;
    background-size: contain;
}
.footer-top__contact {
    /*margin-top: 75px;*/
    margin-top: 3.90625vw;
    z-index: 5;
    position: relative;
    display: flex;
}
.footer-top__contact a {
    /*font-size: 41px;*/
    font-size: 2.135vw;
    color: #9f9f9f;
    position: relative;
    line-height: 2;
    display: flex;
    transition: 0.3s;
}
.footer-top__contact a:hover {
    color: black;
}
.footer-top__contact a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #7e7e7e;
    width: 100%;
    transition: 0.3s;
}
.footer-top__contact a:hover:after {
    background: black;
}
.footer-center {
    /*margin-top: 148px;*/
    margin-top: 7.708vw;
    /*max-width: 675px;*/
    /*max-width: 570px;*/
    max-width: 29.6875vw;
    width: 100%;
}
.footer-center__inner {
    display: flex;
    justify-content: space-between;
}
.footer-center__info {
    display: flex;
    flex-direction: column;
    line-height: 2;
    z-index: 5;
    position: relative;
}
.footer-center__info a{
    transition: 0.3s;
    position: relative;
}
.footer-center__info a:hover {
    color: black;
}
.footer-center__info a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: transparent;
    width: 100%;
    transition: 0.3s;
}
.footer-center__info a:hover:after {
    background: black;
}
.footer-center__info-item {
    /*font-size: 30px;*/
    font-size: 1.5625vw;
    color: #7e7e7e;
    z-index: 5;
    position: relative;
}
.footer-center__link {
    display: flex;
    flex-direction: column;
    line-height: 2;
}
.footer-center__link-item {
    /*font-size: 30px;*/
    font-size: 1.5625vw;
    color: #7e7e7e;
    transition: 0.3s;
    position: relative;
    z-index: 5;
}
.footer-center__link-item:hover {
    color: black;
}
.footer-center__link-item:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background: transparent;
    width: 100%;
    transition: 0.3s;
}
.footer-center__link-item:hover:after {
    background: black;
}
.footer-bottom {
    /*margin-top: 274px;*/
    margin-top: 14.27vw;
    /*max-width: 768px;*/
    max-width: 40vw;
    width: 100%;
}
.footer-bottom__caption {
    /*font-size: 20px;*/
    font-size: 1.04vw;
    color: #afafaf;
    z-index: 5;
    position: relative;
}
.footer-bottom__caption-city {
    display: none;
    z-index: 5;
    position: relative;
}
.header-top__logo-mobile {
    display: none;
    z-index: 5;
    position: relative;
}

.header-top__mobile-menu-btn {
    display: none;
    width: 25px;
    height: 20px;
    cursor: pointer;
    position: fixed;
    right: 20px;
    background: url("../img/svg/menu-btn.svg") center center no-repeat;
 }
.header-top__mobile-menu-btn.btn-open {
    background: url("../img/svg/menu-btn-close.svg") center center no-repeat;
}
.header-top__mobile-menu-btn {
    display: none;
    width: 25px;
    height: 20px;
    cursor: pointer;
    position: fixed;
    right: 20px;
    background: url("../img/svg/menu-btn.svg") center center no-repeat;
}
.header-top__mobile-menu-bottom {
    display: none;
}
.open-menu {
    display: block;
}
.btn-open {
    display: block;
}

@media (max-width: 1600px) {
    .footer__hand-phone {
        /*right: 40px;*/
        /*bottom: 140px;*/
        /*max-width: 530px;*/
    }
    .header {
        padding: 60px;
        padding-left: 7.25vw;
        min-height: calc(100vh - 120px);
    }
    .header-bottom {
        /*max-width: 550px;*/
    }
    .header-bottom__title {
        /*font-size: 45px;*/
    }
    .header-bottom__desc {
        /*max-width: 550px;*/
        /*font-size: 24px;*/
    }
    .project__wrap {
        /*margin-top: 150px;*/
    }
    .project-item {
        /*max-width: 580px;*/
    }
    .project__more {
        /*margin-top: 150px;*/
    }
    .project__more-btn-link {
        /*font-size: 24px;*/
    }
    .footer__inner {
        /*padding: 160px 0 60px 60px;*/
        padding-top: 160px;
    }
    .footer-top {
        /*max-width: 500px;*/
    }
    .footer-top__title {
        /*font-size: 40px;*/
    }
    .footer-top__title:after {
        /*width: 90px;*/
        /*height: 90px;*/
    }
    .footer-center {
        /*max-width: 500px;*/
        /*margin-top: 100px;*/
    }
    .footer-center__info-item,
    .footer-center__link-item {
        /*font-size: 20px;*/
    }
    .footer-bottom__caption {
        /*font-size: 18px;*/
    }
    .footer__hand-phone {
        /*max-width: 450px;*/
    }
    .footer-bottom {
        /*margin-top: 220px;*/
    }
    .header-top__logo {
        /*width: 150px;*/
        /*margin-right: 50px;*/
        /*margin-left: 14px;*/
    }
    .header-bottom__desc {
        /*max-width: 706px;*/
        /*font-size: 20px;*/
    }
    .header-bottom {
        /*max-width: 560px;*/
    }
}

@media (max-width: 1400px) {
    .project-top__title,
    .project-top__desc,
    .project-bottom__btn-link {
        /*font-size: 22px;*/
    }
    /*.project__more-btn-link {*/
        /*font-size: 20px;*/
    /*}*/
    .project-item.project-item--animate:nth-child(1) {
        transition-delay: 0s;
    }
    .project-item.project-item--animate:nth-child(2) {
        transition-delay: 0s;
    }
    .project-item.project-item--animate:nth-child(3) {
        transition-delay: 0s;
    }
    .project-item.project-item--animate:nth-child(4) {
        transition-delay: 0s;
    }
    .header-top__logo {
        /*width: 150px;*/
    }
    .header-top__logo img{
        width: 100%;
    }
    .header-top__menu-link {
        /*font-size: 16px;*/
    }

}

@media (max-width: 1300px) {
    .project-item {
        /*max-width: 540px;*/
    }
    .project-top {
        /*padding: 20px 45px;*/
    }
    .project-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /*padding: 20px 40px 30px 44px;*/
    }
}

@media (max-width: 1260px) {
    .project-item:nth-child(even) {
        transform: translateY(-100px);
    }
    .project-item.project-item--animate:nth-child(even){
        /*transform: translateY(0);*/
    }
}

@media (max-width: 1100px) {
    .project__wrap {
        /*margin-top: 60px;*/
    }
    .project__more {
        /*margin-top: 75px;*/
    }
    .footer__hand-phone {
        display: none;
    }
    .footer-bottom {
        /*margin-top: 80px;*/
    }
    .header-top {
        /*margin-bottom: 100px;*/
    }
}
@media (max-width: 992px) {

    .project__more {
        margin-top: 45px;
    }
    .footer-center__info-item,
    .footer-center__link-item {
        font-size: 20px;
    }
    .footer-bottom__caption {
        font-size: 18px;
    }
    .project-item.project-item--animate:nth-child(even) {
        transform: translateY(0);
    }

    .project-top__desc {
        top: 52%;
    }

    .project-center {
        margin: 0 75px;
    }

    .project-bottom {
        padding: 20px 40px 30px 44px;
    }

    .header {
        min-height: calc(100vh - 20px);
        padding: 20px;
    }

    .header-top__logo-mobile {
        display: flex;
    }

    .header-bottom__title {
        font-size: 60px;
        line-height: 74px;
    }

    .header-bottom__desc {
        font-size: 20px;
    }

    .header-top__logo-mobile-menu {
        z-index: 15;
    }

    .header-top__logo {
        margin: 0;
    }

    .header-top__logo-mobile-menu .header-top__logo {
        position: absolute;
        left: 20px;
        top: 20px;
    }

    .header-top {
        justify-content: space-between;
        margin-bottom: 100px;
    }

    .header-top__menu {
        display: none;
        position: fixed;
        background: white;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .header-top__menu-wrap {
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }

    .header-top__menu-list {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }

    .header-top__menu-item {
        margin: 15px 0 !important;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header-top__mobile-menu-btn {
        display: flex;
        z-index: 110;
    }

    .header-top__mobile-menu-bottom {
        display: flex;
        flex-direction: column;
        /*width: 100%;*/
        /*max-width: 320px;*/
        margin: 0 auto;
    }

    .header-top__mobile-menu-bottom .footer-top__title {
        font-size: 20px;
    }

    .footer-top__title:after {
        width: 90px;
        height: 90px;
         right: -110px;
         top: -28px;
        }

    .header-top__mobile-menu-bottom .footer-top__title:after {
        width: 50px;
        height: 50px;
        right: -15px;
        top: -18px;
    }

    .header-top__mobile-menu-bottom .footer-top__contact {
        margin-top: 25px;
    }

    .header-top__mobile-menu-bottom .footer-top__contact a {
        font-size: 18px;
    }

    .main__inner {
        padding: 20px;
    }

    .project-item {
        margin: 25px 0;

        max-width: 540px;
    }

    .footer__inner {
        padding: 100px 20px 20px 20px;
    }

    .header-top__menu-link {
        font-size: 16px;
    }

    .header-top__logo {
        width: 150px;
    }

    .header-bottom__desc {
        margin-top: 64px;
    }

    .project__wrap {
        margin-top: 60px;
    }

    .project-top__title,
    .project-top__desc,
    .project-bottom__btn-link {
        font-size: 22px;
    }

    .project-bottom__arrow svg {
        width: 40px;
    }

    .project__more-btn-link {
        font-size: 20px;
    }
    .footer-top__title {
        font-size: 40px;
    }
    .footer-top__contact a {
        font-size: 30px;
    }
    .footer-center {
        max-width: 500px;
        margin-top: 100px;
    }
    .footer-bottom {
        margin-top: 80px;
        max-width: 768px;
    }
}
@media (max-width: 768px) {
    .header-bottom__title {
        line-height: 60px;
        font-size: 45px;
    }
    .header-bottom__desc {
        font-size: 14px;
    }
    .project-top__title,
    .project-top__desc,
    .project-bottom__btn-link{
        font-size: 16px;
    }
    .project-bottom__arrow svg {
        width: 30px;
    }
    .project-top {
        padding: 25px 35px;
    }
    .project-center {
        margin: 0 50px;
    }
    .project-bottom {
        padding: 25px 35px 25px 25px;
    }

    .footer-top__title:after {
        right: -70px;
    }

    .footer__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-bottom {
        display: flex;
        justify-content: center;
    }
    .footer-top {
        /*max-width: 400px;*/
    }
    .footer-top.header-top__mobile-menu-bottom {
        /*max-width: 320px;*/
    }
    .footer-top__title {
        font-size: 30px;
    }
    .footer-top__title:after {
        width: 70px;
        height: 70px;
    }
    .footer-top__contact {
        margin-top: 50px;
    }
    .footer-top__contact a {
        font-size: 24px;
    }
    .footer-center {
        /*max-width: 400px;*/
        max-width: 315px;
        margin-top: 50px;
    }
    .header-top__logo {
        width: 130px;
    }
}
@media (max-width: 500px) {
    .project-top__title,
    .project-top__desc,
    .project-bottom__btn-link{
        font-size: 14px;
    }
    .project-top {
        padding: 25px;
    }
    .project-bottom {
        padding: 25px;
    }
    .header-bottom__title {
        font-size: 42px;
    }
    .header-bottom__title span {
        display: inline-block;
    }
    .header-bottom__desc {
        font-size: 13px;
    }
    .header-bottom__desc br {
        display: none;
    }
    .footer-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-center {
        margin-top: 20px;
        max-width: 265px;
    }
    .footer-center__inner {
        flex-direction: column;
    }
    .footer-center__info span {
        display: none;
    }
    .footer-center__info a {
        font-size: 24px;
    }
    .footer-center__link {
        margin-top: 30px;
    }
    .footer-bottom__caption-city {
        display: flex;
    }
    .footer-bottom__caption-city {
        font-size: 14px;
        color: black;
    }
    .footer-bottom__caption {
        font-size: 14px;
        color: black;
    }
    .project-center {
        margin: 0 40px;
    }
    .project-top__desc {
        top: 51%;
    }
    .project-bottom__arrow svg {
        width: 25px;
    }
    .project-bottom {
        padding: 15px 25px;
    }
    .project-top {
        padding: 15px 25px;
    }
    .footer-top__title {
        font-size: 24px;
    }
    .footer-top__title:after {
        width: 50px;
        height: 50px;
        right: -60px;
        top: -12px;
    }
    .footer-top__contact a {
        font-size: 20px;
    }
    .footer-top__contact a:after {
        height: 1px;
    }
    .footer-center__info a {
        font-size: 22px;
    }
    .footer-bottom__caption-city {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .footer-bottom__caption {
        font-size: 12px;
    }
    .project__more-btn-link {
        font-size: 18px;
    }
    .footer-top.header-top__mobile-menu-bottom {
        /*max-width: 300px;*/
    }

    .footer-bottom__caption-city {
        font-size: 10px;
    }
    .footer-bottom__caption {
        font-size: 10px;
    }
}


.triangle {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.triangle__inner {
    position: relative;
    height: 80%;
}
.triangle__inner--two {
    height: 100%;
}
.triangle__item{
    width: 400px;
    height: 400px;
    position: absolute;
    filter: blur(5px);
}
/*.triangle__item.triangle__item--one {*/
    /*right: 10%;*/
    /*top: -70px;*/
/*}*/
.triangle__item.triangle__item--one {
    /*right: 32%;*/
    right: 27%;
    top: 69px;
}
.triangle__item.triangle__item--two {
    left: 0;
    bottom: 0;
}
.triangle__item.triangle__item--three {
    right: 13%;
    bottom: 20px;
}
.triangle__item.triangle__item--four {
    right: 5%;
    top: 20px;
}

@media (min-width: 1100px) {
    .triangle__item.triangle__item--four {
        transform: translateY(300px);
    }
}

.triangle__item.triangle__item--five {
    right: 35%;
    bottom: -350px;

}


.triangle__item.triangle__item--one svg{
    animation: rotating 25s linear infinite;
}
.triangle__item.triangle__item--three svg{
    animation: rotating 25s linear infinite;
}
.triangle__item.triangle__item--two svg{
    animation: rotating 30s linear infinite;
}

.triangle__item.triangle__item--four svg{
    animation: rotating 25s linear infinite;
}
.triangle__item.triangle__item--five svg{
    animation: rotating 30s linear infinite;
}
.triangle__item svg{
    height: 400px;
    width: 400px;
}

@-webkit-keyframes rotating{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 1450px) {
    .triangle__item {
        width: 300px;
        height: 300px;
    }
    .triangle__item svg {
        height: 300px;
        width: 300px;
    }
    .header-top {
        /*margin-bottom: 110px;*/
    }
    .header-top__menu-item {
        /*margin: 0 20px;*/
    }
    .header-top__logo {
        /*margin-right: 60px;*/
    }
}
@media (max-width: 1400px) {
    .triangle__item.triangle__item--one {
        right: 25%;
        top: 42px;
    }
    .triangle__item.triangle__item--three {
        right: 15%;
        bottom: -54%;
    }
    .triangle__item.triangle__item--two {
        left: -5%;
        bottom: -40%;
    }
    .triangle__item.triangle__item--five {
        right: 25%;
        bottom: -200px;
    }
}
@media (max-width: 1150px) {

    .triangle__item {
        width: 250px;
        height: 250px;
        filter: blur(25px);
    }
    .triangle__item svg{
        animation: none !important;
        width: 100%;
    }
    .triangle__item--two {
        display: none;
    }
    .triangle__item.triangle__item--three {
        right: 10%;
        bottom: 100px;
    }

    .triangle__item.triangle__item--three svg{

    }
    .triangle__item.triangle__item--one {
        right: 0%;
        top: auto;
        bottom: -275px;
    }
    .triangle__item.triangle__item--one svg{
        /*transform: rotate(-20deg);*/
    }
    .triangle__item.triangle__item--five {
        right: 25%;
        bottom: 0;
    }
}
@media (max-width: 992px) {
    .triangle__item.triangle__item--five {
        right: 15%;
        bottom: 0;
    }
}
@media (max-width: 768px) {
    .triangle__item.triangle__item--five {
        right: 15%;
        bottom: 0;
    }
    .triangle__item.triangle__item--four {
        right: auto;
        top: 83px;
        left: -13%;
    }
    .triangle__item.triangle__item--five {
        right: -10%;
        bottom: 0;
    }
}
@media (max-width: 500px) {
    .triangle__item.triangle__item--three {
        right: -30%;
        bottom: 100px;
    }
    .triangle__item.triangle__item--four {
        right: auto;
        left: -130px;
        top: auto;
        bottom: -40px;
    }
    .triangle__item.triangle__item--five {
        /*bottom: -45px;*/
        bottom: -130px;
    }

}

